.input-group{display:inline-table;vertical-align:middle}
.input-group{position:relative;display:table;border-collapse:separate}
.input-group{margin-left:5px}
.input-group{float:left}
.input-group{display:inline-table;vertical-align:middle}

.form-group {
    padding-bottom: 10px;
    margin: 8px 0 0 0;
}
.form-group {
    position: relative;
}
.form-group {
    margin-bottom: 15px;
}
.label-floating{
    width:100%;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
}

.text-center {
    text-align: center;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p {
    margin: 0 0 10px;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card-login .card-content {
    padding: 0px 30px 0px 10px;
}
.card .card-content {
    padding: 15px 20px;
    position: relative;
}

.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}

.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.
.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.form-control, .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.form-control {
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.428571429;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="date"].form-control,
    input[type="time"].form-control,
    input[type="datetime-local"].form-control,
    input[type="month"].form-control {
        line-height: 36px;
    }
    input[type="date"].input-sm,
    .input-group-sm input[type="date"],
    input[type="time"].input-sm,
    .input-group-sm input[type="time"],
    input[type="datetime-local"].input-sm,
    .input-group-sm input[type="datetime-local"],
    input[type="month"].input-sm,
    .input-group-sm input[type="month"] {
        line-height: 24px;
    }
    input[type="date"].input-lg,
    .input-group-lg input[type="date"],
    input[type="time"].input-lg,
    .input-group-lg input[type="time"],
    input[type="datetime-local"].input-lg,
    .input-group-lg input[type="datetime-local"],
    input[type="month"].input-lg,
    .input-group-lg input[type="month"] {
        line-height: 44px;
    }
}
.form-group-sm .form-control {
    height: 24px;
    padding: 3px 0;
    font-size: 11px;
    line-height: 1.5;
}

.form-group-sm select.form-control {
    height: 24px;
    line-height: 24px;
}

.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
    height: auto;
}
.form-group-lg .form-control {
    height: 44px;
    padding: 9px 0;
    font-size: 18px;
    line-height: 1.3333333;
}

.form-group-lg select.form-control {
    height: 44px;
    line-height: 44px;
}

.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
    height: auto;
}
select.form-control {
    border: 0;
    box-shadow: none;
    border-radius: 0;
}

.form-group.is-focused select.form-control {
    box-shadow: none;
    border-color: #D2D2D2;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

user agent stylesheet
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb !important;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-control, .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.form-control {
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.428571429;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.col-sm-offset-3{margin-left:25%}
.col-md-offset-4{margin-left:33.33333333%}
.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.reset-button  {
    color: #b3b3b3;
    text-decoration: none;
}

.card-calendar table td {
    text-align: right;
}

.card-calendar .content {
    padding: 0 !important;
}

.card-calendar .fc-toolbar {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-calendar .fc td:first-child {
    border-left: 0;
}

.card-calendar .fc td:last-child {
    border-right: 0;
}

.card-calendar .fc-basic-view td:last-child.fc-week-number span,
.card-calendar .fc-basic-view td:last-child.fc-day-number {
    padding-right: 20px;
}

.card-calendar .fc .fc-day-header:last-child {
    padding-right: 15px;
}

.card-calendar .fc .fc-widget-header {
    border: 0;
}

.card-calendar .fc .fc-widget-header .fc-title {
    color: #FFFFFF;
}

.card-calendar .fc th {
    text-align: right;
    color: #999999;
}

.card-calendar .title {
    margin-top: -9px;
}

.card-calendar .fc .fc-row:last-child td {
    border-bottom: 0;
}

.card-calendar .fc .fc-body .fc-widget-content {
    border-bottom: 0;
}

.wizard-card {
    min-height: 410px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.wizard-card.active {
    opacity: 1;
}

.wizard-card .picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.wizard-card .wizard-navigation {
    position: relative;
}

.wizard-card .picture {
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.wizard-card .picture:hover {
    border-color: #2ca8ff;
}

.wizard-card .moving-tab {
    position: absolute;
    text-align: center;
    padding: 12px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    top: -4px;
    left: 0px;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
}

.wizard-card[data-color="purple"] .moving-tab {
    background-color: #9c27b0;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.wizard-card[data-color="purple"] .picture:hover {
    border-color: #9c27b0;
}

.wizard-card[data-color="purple"] .choice:hover .icon,
.wizard-card[data-color="purple"] .choice.active .icon {
    border-color: #9c27b0;
    color: #9c27b0;
}

.wizard-card[data-color="purple"] .form-group .form-control {
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
}

.wizard-card[data-color="purple"] .checkbox input[type=checkbox]:checked+.checkbox-material .check {
    background-color: #9c27b0;
}

.wizard-card[data-color="purple"] .radio input[type=radio]:checked~.check {
    background-color: #9c27b0;
}

.wizard-card[data-color="purple"] .radio input[type=radio]:checked~.circle {
    border-color: #9c27b0;
}

.wizard-card[data-color="green"] .moving-tab {
    background-color: #4caf50;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.wizard-card[data-color="green"] .picture:hover {
    border-color: #4caf50;
}

.wizard-card[data-color="green"] .choice:hover .icon,
.wizard-card[data-color="green"] .choice.active .icon {
    border-color: #4caf50;
    color: #4caf50;
}

.wizard-card[data-color="green"] .form-group .form-control {
    background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2);
}

.wizard-card[data-color="green"] .checkbox input[type=checkbox]:checked+.checkbox-material .check {
    background-color: #4caf50;
}

.wizard-card[data-color="green"] .radio input[type=radio]:checked~.check {
    background-color: #4caf50;
}

.wizard-card[data-color="green"] .radio input[type=radio]:checked~.circle {
    border-color: #4caf50;
}

.wizard-card[data-color="blue"] .moving-tab {
    background-color: #00bcd4;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.wizard-card[data-color="blue"] .picture:hover {
    border-color: #00bcd4;
}

.wizard-card[data-color="blue"] .choice:hover .icon,
.wizard-card[data-color="blue"] .choice.active .icon {
    border-color: #00bcd4;
    color: #00bcd4;
}

.wizard-card[data-color="blue"] .form-group .form-control {
    background-image: linear-gradient(#00bcd4, #00bcd4), linear-gradient(#D2D2D2, #D2D2D2);
}

.wizard-card[data-color="blue"] .checkbox input[type=checkbox]:checked+.checkbox-material .check {
    background-color: #00bcd4;
}

.wizard-card[data-color="blue"] .radio input[type=radio]:checked~.check {
    background-color: #00bcd4;
}

.wizard-card[data-color="blue"] .radio input[type=radio]:checked~.circle {
    border-color: #00bcd4;
}

.wizard-card[data-color="orange"] .moving-tab {
    background-color: #ff9800;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.wizard-card[data-color="orange"] .picture:hover {
    border-color: #ff9800;
}

.wizard-card[data-color="orange"] .choice:hover .icon,
.wizard-card[data-color="orange"] .choice.active .icon {
    border-color: #ff9800;
    color: #ff9800;
}

.wizard-card[data-color="orange"] .form-group .form-control {
    background-image: linear-gradient(#ff9800, #ff9800), linear-gradient(#D2D2D2, #D2D2D2);
}

.wizard-card[data-color="orange"] .checkbox input[type=checkbox]:checked+.checkbox-material .check {
    background-color: #ff9800;
}

.wizard-card[data-color="orange"] .radio input[type=radio]:checked~.check {
    background-color: #ff9800;
}

.wizard-card[data-color="orange"] .radio input[type=radio]:checked~.circle {
    border-color: #ff9800;
}

.wizard-card[data-color="red"] .moving-tab {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.wizard-card[data-color="red"] .picture:hover {
    border-color: #f44336;
}

.wizard-card[data-color="red"] .choice:hover .icon,
.wizard-card[data-color="red"] .choice.active .icon {
    border-color: #f44336;
    color: #f44336;
}

.wizard-card[data-color="red"] .form-group .form-control {
    background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2);
}

.wizard-card[data-color="red"] .checkbox input[type=checkbox]:checked+.checkbox-material .check {
    background-color: #f44336;
}

.wizard-card[data-color="red"] .radio input[type=radio]:checked~.check {
    background-color: #f44336;
}

.wizard-card[data-color="red"] .radio input[type=radio]:checked~.circle {
    border-color: #f44336;
}

.wizard-card[data-color="rose"] .moving-tab {
    background-color: #e91e63;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.wizard-card[data-color="rose"] .picture:hover {
    border-color: #e91e63;
}

.wizard-card[data-color="rose"] .choice:hover .icon,
.wizard-card[data-color="rose"] .choice.active .icon {
    border-color: #e91e63;
    color: #e91e63;
}

.wizard-card[data-color="rose"] .form-group .form-control {
    background-image: linear-gradient(#e91e63, #e91e63), linear-gradient(#D2D2D2, #D2D2D2);
}

.wizard-card[data-color="rose"] .checkbox input[type=checkbox]:checked+.checkbox-material .check {
    background-color: #e91e63;
}

.wizard-card[data-color="rose"] .radio input[type=radio]:checked~.check {
    background-color: #e91e63;
}

.wizard-card[data-color="rose"] .radio input[type=radio]:checked~.circle {
    border-color: #e91e63;
}

.wizard-card .picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.wizard-card .picture-src {
    width: 100%;
}

.wizard-card .tab-content {
    min-height: 340px;
    padding: 20px 15px;
}

.wizard-card .wizard-footer {
    padding: 0 15px;
}

.wizard-card .wizard-footer .checkbox {
    margin-top: 16px;
}

.wizard-card .disabled {
    display: none;
}

.wizard-card .wizard-header {
    text-align: center;
    padding: 25px 0 35px;
}

.wizard-card .wizard-header h5 {
    margin: 5px 0 0;
}

.wizard-card .nav-pills>li {
    text-align: center;
}

.wizard-card .btn {
    text-transform: uppercase;
}

.wizard-card .info-text {
    text-align: center;
    font-weight: 300;
    margin: 10px 0 30px;
}

.wizard-card .choice {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

.wizard-card .choice[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .26;
}

.wizard-card .choice .icon {
    text-align: center;
    vertical-align: middle;
    height: 116px;
    width: 116px;
    border-radius: 50%;
    color: #999999;
    margin: 0 auto 20px;
    border: 4px solid #CCCCCC;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.wizard-card .choice i {
    font-size: 40px;
    line-height: 111px;
}

.wizard-card .choice:hover .icon,
.wizard-card .choice.active .icon {
    border-color: #2ca8ff;
}

.wizard-card .choice input[type="radio"],
.wizard-card .choice input[type="checkbox"] {
    position: absolute;
    left: -10000px;
    z-index: -1;
}

.wizard-card .btn-finish {
    display: none;
}

.wizard-card .description {
    color: #999999;
    font-size: 14px;
}

.wizard-card .wizard-title {
    margin: 0;
}

.wizard-card .nav-pills {
    background-color: rgba(200, 200, 200, 0.2);
}

.wizard-card .nav-pills>li+li {
    margin-left: 0;
}

.wizard-card .nav-pills>li>a {
    border: 0 !important;
    border-radius: 0;
    line-height: 18px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    color: #555555 !important;
}

.wizard-card .nav-pills>li.active>a,
.wizard-card .nav-pills>li.active>a:hover,
.wizard-card .nav-pills>li.active>a:focus,
.wizard-card .nav-pills>li>a:hover,
.wizard-card .nav-pills>li>a:focus {
    background-color: inherit;
    box-shadow: none;
}

.wizard-card .nav-pills>li i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
.h1 {
    font-size: 3.8em;
    line-height: 1.15em;
}

h2,
.h2 {
    font-size: 2.6em;
}

h3,
.h3 {
    font-size: 1.825em;
    line-height: 1.4em;
    margin: 20px 0 10px;
}

h4,
.h4 {
    font-size: 1.3em;
    line-height: 1.4em;
}

h5,
.h5 {
    font-size: 1.25em;
    line-height: 1.4em;
    margin-bottom: 15px;
}

h6,
.h6 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
}

.title,
.title a,
.card-title,
.card-title a,
.info-title,
.info-title a,
.footer-brand,
.footer-brand a,
.footer-big h5,
.footer-big h5 a,
.footer-big h4,
.footer-big h4 a,
.media .media-heading,
.media .media-heading a {
    color: #3C4858;
    text-decoration: none;
}

.card-blog .card-title {
    font-weight: 700;
}

h2.title {
    margin-bottom: 30px;
}

.description,
.card-description,
.footer-big p {
    color: #999999;
}

.text-warning {
    color: #ff9800;
}

.text-primary {
    color: #9c27b0;
}

.text-danger {
    color: #f44336;
}

.text-success {
    color: #4caf50;
}

.text-info {
    color: #00bcd4;
}

.text-rose {
    color: #e91e63;
}

.text-gray {
    color: #999999;
}

.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

a {
    color: #9c27b0;
}

a:hover,
a:focus {
    color: #89229b;
    text-decoration: none;
}

a.text-info:hover,
a.text-info:focus {
    color: #00a5bb;
}

a .material-icons {
    vertical-align: middle;
}

a[data-toggle="collapse"][aria-expanded="true"] .caret,
.dropdown.open .caret,
.dropup.open .caret,
.btn-group.bootstrap-select.open .caret {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.label {
    border-radius: 2px;
}

.label,
.label.label-default {
    background-color: #FFFFFF;
}

.label.label-inverse {
    background-color: #212121;
}

.label.label-primary {
    background-color: #9c27b0;
}

.label.label-success {
    background-color: #4caf50;
}

.label.label-info {
    background-color: #00bcd4;
}

.label.label-warning {
    background-color: #ff9800;
}

.label.label-danger {
    background-color: #f44336;
}

.label.label-rose {
    background-color: #e91e63;
}

.wrapper:after {
    display: table;
    clear: both;
    content: " ";
}

.wrapper.wrapper-full-page {
    height: auto;
    min-height: 100vh;
}

.full-page:after,
.full-page:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.full-page:before {
    background-color: rgba(0, 0, 0, 0.5);
}

.full-page[filter-color="purple"]:after,
.full-page[filter-color="primary"]:after {
    background: rgba(225, 190, 231, 0.56);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(60deg, rgba(225, 190, 231, 0.56), rgba(186, 104, 200, 0.95));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(60deg, rgba(225, 190, 231, 0.56), rgba(186, 104, 200, 0.95));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(60deg, rgba(225, 190, 231, 0.56), rgba(186, 104, 200, 0.95));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(60deg, rgba(225, 190, 231, 0.56), rgba(186, 104, 200, 0.95));
    /* Standard syntax */
}

.full-page[filter-color="purple"].lock-page .form-group .form-control,
.full-page[filter-color="primary"].lock-page .form-group .form-control {
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
}

.full-page[filter-color="blue"]:after,
.full-page[filter-color="info"]:after {
    background: rgba(178, 235, 242, 0.56);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(60deg, rgba(178, 235, 242, 0.56), rgba(77, 208, 225, 0.95));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(60deg, rgba(178, 235, 242, 0.56), rgba(77, 208, 225, 0.95));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(60deg, rgba(178, 235, 242, 0.56), rgba(77, 208, 225, 0.95));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(60deg, rgba(178, 235, 242, 0.56), rgba(77, 208, 225, 0.95));
    /* Standard syntax */
}

.full-page[filter-color="blue"].lock-page .form-group .form-control,
.full-page[filter-color="info"].lock-page .form-group .form-control {
    background-image: linear-gradient(#00bcd4, #00bcd4), linear-gradient(#D2D2D2, #D2D2D2);
}

.full-page[filter-color="green"]:after,
.full-page[filter-color="success"]:after {
    background: rgba(165, 214, 167, 0.56);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(60deg, rgba(165, 214, 167, 0.56), rgba(102, 187, 106, 0.95));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(60deg, rgba(165, 214, 167, 0.56), rgba(102, 187, 106, 0.95));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(60deg, rgba(165, 214, 167, 0.56), rgba(102, 187, 106, 0.95));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(60deg, rgba(165, 214, 167, 0.56), rgba(102, 187, 106, 0.95));
    /* Standard syntax */
}

.full-page[filter-color="green"].lock-page .form-group .form-control,
.full-page[filter-color="success"].lock-page .form-group .form-control {
    background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2);
}

.full-page[filter-color="orange"]:after,
.full-page[filter-color="warning"]:after {
    background: rgba(255, 224, 178, 0.56);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(60deg, rgba(255, 224, 178, 0.56), rgba(255, 183, 77, 0.95));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(60deg, rgba(255, 224, 178, 0.56), rgba(255, 183, 77, 0.95));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(60deg, rgba(255, 224, 178, 0.56), rgba(255, 183, 77, 0.95));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(60deg, rgba(255, 224, 178, 0.56), rgba(255, 183, 77, 0.95));
    /* Standard syntax */
}

.full-page[filter-color="orange"].lock-page .form-group .form-control,
.full-page[filter-color="warning"].lock-page .form-group .form-control {
    background-image: linear-gradient(#ff9800, #ff9800), linear-gradient(#D2D2D2, #D2D2D2);
}

.full-page[filter-color="red"]:after,
.full-page[filter-color="danger"]:after {
    background: rgba(239, 154, 154, 0.56);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(60deg, rgba(239, 154, 154, 0.56), rgba(239, 83, 80, 0.95));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(60deg, rgba(239, 154, 154, 0.56), rgba(239, 83, 80, 0.95));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(60deg, rgba(239, 154, 154, 0.56), rgba(239, 83, 80, 0.95));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(60deg, rgba(239, 154, 154, 0.56), rgba(239, 83, 80, 0.95));
    /* Standard syntax */
}

.full-page[filter-color="red"].lock-page .form-group .form-control,
.full-page[filter-color="danger"].lock-page .form-group .form-control {
    background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2);
}

.full-page[filter-color="rose"]:after {
    background: rgba(248, 187, 208, 0.56);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(60deg, rgba(248, 187, 208, 0.56), rgba(240, 98, 146, 0.95));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(60deg, rgba(248, 187, 208, 0.56), rgba(240, 98, 146, 0.95));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(60deg, rgba(248, 187, 208, 0.56), rgba(240, 98, 146, 0.95));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(60deg, rgba(248, 187, 208, 0.56), rgba(240, 98, 146, 0.95));
    /* Standard syntax */
}

.full-page[filter-color="rose"].lock-page .form-group .form-control {
    background-image: linear-gradient(#e91e63, #e91e63), linear-gradient(#D2D2D2, #D2D2D2);
}

.full-page[data-image]:after {
    opacity: .8;
}

.full-page>.content,
.full-page>.footer {
    position: relative;
    z-index: 4;
}

.full-page>.content {
    min-height: calc(100vh - 80px);
}

.full-page .full-page-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

.full-page .footer nav>ul a:not(.btn),
.full-page .footer,
.full-page .footer .copyright a {
    color: #FFFFFF;
}

.login-page>.content,
.lock-page>.content {
    padding-top: 18vh;
}

.login-page .card-login {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    padding-bottom: 20px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.login-page .card-login.card-hidden {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
}

.login-page .card-login .btn-wd {
    min-width: 180px;
}

.login-page .card-login .card-header {
    margin-top: -40px;
    margin-bottom: 20px;
}

.login-page .card-login .card-header .title {
    margin-top: 10px;
}

.lock-page .card-profile {
    width: 240px;
    margin: 60px auto 0;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.lock-page .card-profile.card-hidden {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
}

.lock-page .card-profile .card-avatar {
    max-width: 90px;
    max-height: 90px;
    margin-top: -45px;
}

.lock-page .card-profile .card-footer {
    border: none;
    padding-top: 0;
}

.lock-page .card-profile .form-group {
    text-align: left;
}

.lock-page .card-profile .form-group .form-control {
    background-image: linear-gradient(#e91e63, #e91e63), linear-gradient(#D2D2D2, #D2D2D2);
}

.lock-page .card-profile.with-animation {
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

.register-page .card-signup {
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
    padding: 40px 0px;
}

.register-page .card-signup .info {
    max-width: 360px;
    margin: 0 auto;
    padding: 0px;
}

.register-page .card-signup .info .info-title {
    color: #3C4858;
    margin: 30px 0 15px;
}

.register-page .card-signup .checkbox {
    margin-top: 20px;
    margin-bottom: 0;
}

.register-page .card-signup .checkbox label {
    margin-left: 17px;
}

.register-page .card-signup .checkbox .checkbox-material {
    padding-right: 20px;
}

.register-page .card-signup .input-group .input-group-addon {
    padding-top: 21px;
}

.register-page .card-signup .info-horizontal .icon {
    float: left;
    margin-top: 24px;
    margin-right: 10px;
}

.register-page .card-signup .info-horizontal .icon i {
    font-size: 2.6em;
}

.register-page .card-signup .info-horizontal .icon.icon-primary {
    color: #9c27b0;
}

.register-page .card-signup .info-horizontal .icon.icon-info {
    color: #00bcd4;
}

.register-page .card-signup .info-horizontal .icon.icon-success {
    color: #4caf50;
}

.register-page .card-signup .info-horizontal .icon.icon-warning {
    color: #ff9800;
}

.register-page .card-signup .info-horizontal .icon.icon-danger {
    color: #f44336;
}

.register-page .card-signup .info-horizontal .icon.icon-rose {
    color: #e91e63;
}

.register-page .card-signup .info-horizontal .description {
    overflow: hidden;
}
.register-page  .card-signup .info-horizontal .padding-text{
	margin-top:2%;
	margin-right:0%;
}
.register-page  .card-signup .info-horizontal .padding-text2{
	margin-top:2%;
	margin-right:0%;
}
.register-page  .card-signup .info-horizontal .padding-text3{
	margin-top:3%;
	margin-right:0%;
}

.register-page .card-signup .form-group {
    margin: 27px 0 0 7px;
    padding-bottom: 0;
}

.register-page .container {
    position: relative;
    z-index: 3;
    padding-top: 15vh;
}

.register-page .footer .container {
    padding: 0;
}

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
}

.card .card-height-indicator {
    margin-top: 100%;
}

.card.row-space .header {
    padding: 15px 20px 0;
}

.card .map {
    height: 280px;
    border-radius: 6px;
    margin-top: 15px;
}

.card .map.map-big {
    height: 420px;
}

.card .card-title {
    margin-top: 0;
    margin-bottom: 3px;
}

.card .card-title:not(.card-calendar .card-title) {
    margin-top: 0;
    margin-bottom: 5px;
}

.card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    z-index: 3;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}

.card .card-image .card-title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card .category:not([class*="text-"]) {
    color: #999999;
    font-size: 14px;
}

.card .category a .material-icons {
    vertical-align: initial;
}

.card .card-content {
    padding: 15px 20px;
    position: relative;
}

.card .card-content .category {
    margin-bottom: 0;
}

.card .card-actions {
    position: absolute;
    z-index: 1;
    top: -50px;
    width: calc(100% - 30px);
    left: 17px;
    right: 17px;
    text-align: center;
}

.card .card-actions .btn {
    padding-left: 12px;
    padding-right: 12px;
}

.card .card-actions .fix-broken-card {
    position: absolute;
    top: -65px;
}

.card .card-header {
    padding: 15px 20px 0;
    z-index: 3;
}

.card .card-header .category {
    margin-bottom: 0;
}

.card .card-header.card-header-text {
    display: inline-block;
}

.card .card-header.card-header-text:after {
    content: "";
    display: table;
}

.card .card-header.card-header-icon {
    float: left;
}

.card .card-header.card-header-icon i {
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
}

.card .card-header.card-header-tabs .nav-tabs {
    background: transparent;
    padding: 0;
}

.card .card-header.card-header-tabs .nav-tabs-title {
    float: left;
    padding: 10px 10px 10px 0;
    line-height: 24px;
}

.card .card-header.card-header-icon+.card-content .card-title {
    padding-bottom: 15px;
}

.card .social-line {
    margin-top: 15px;
    text-align: center;
    padding: 0;
}

.card .social-line .btn {
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
}

.card [data-background-color] {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
    position: relative;
}

.card [data-background-color] .card-title {
    color: #FFFFFF;
}

.card [data-background-color] .category {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.62);
}

.card [data-background-color] .ct-label {
    color: rgba(255, 255, 255, 0.7);
}

.card [data-background-color] .ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
}

.card [data-background-color] .ct-series-a .ct-point,
.card [data-background-color] .ct-series-a .ct-line,
.card [data-background-color] .ct-series-a .ct-bar,
.card [data-background-color] .ct-series-a .ct-slice-donut {
    stroke: rgba(255, 255, 255, 0.8);
}

.card [data-background-color] .ct-series-a .ct-slice-pie,
.card [data-background-color] .ct-series-a .ct-area {
    fill: rgba(255, 255, 255, 0.4);
}

.card .chart-title {
    position: absolute;
    top: 25px;
    width: 100%;
    text-align: center;
}

.card .chart-title h3 {
    margin: 0;
    color: #FFFFFF;
}

.card .chart-title h6 {
    margin: 0;
    color: rgba(255, 255, 255, 0.4);
}

.card .ct-chart~.card-footer i:nth-child(1n+2) {
    width: 18px;
    text-align: center;
}

.card .card-footer {
    margin: 0 20px 10px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}

.card .card-footer .form-group {
    margin: 5px 0 0;
}

.card .card-footer .content {
    display: block;
}

.card .card-footer div {
    display: inline-block;
}

.card .card-footer .author {
    color: #999999;
}

.card .card-footer .stats {
    line-height: 22px;
    color: #999999;
    font-size: 12px;
}

.card .card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}

.card .card-footer .stats .category {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
}

.card .card-footer h4 {
    margin: 5px 0;
}

.card .card-footer .btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card .card-footer h6 {
    color: #999999;
}

.card form .card-footer {
    border: none;
}

.card img {
    width: 100%;
    height: auto;
}

.card .category .material-icons {
    position: relative;
    top: 6px;
    line-height: 0;
}

.card .category-social .fa {
    font-size: 24px;
    position: relative;
    margin-top: -4px;
    top: 2px;
    margin-right: 5px;
}

.card .author .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.card .author a {
    color: #3C4858;
    text-decoration: none;
}

.card .author a .ripple-container {
    display: none;
}

.card .table {
    margin-bottom: 0;
}

.card .table tr:first-child td {
    border-top: none;
}

.card .nav-pills,
.card .tab-content {
    margin-top: 20px;
}

.card [data-background-color="purple"] {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.card [data-icon-bg-color="purple"] i {
    color: #9c27b0;
}

.card [data-background-color="blue"] {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.card [data-icon-bg-color="blue"] i {
    color: #00bcd4;
}

.card [data-background-color="green"] {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.card [data-icon-bg-color="green"] i {
    color: #4caf50;
}

.card [data-background-color="orange"] {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.card [data-icon-bg-color="orange"] i {
    color: #ff9800;
}

.card [data-background-color="red"] {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.card [data-icon-bg-color="red"] i {
    color: #f44336;
}

.card [data-background-color="rose"] {
    background: linear-gradient(60deg, #ec407a, #d81b60);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.card [data-icon-bg-color="rose"] i {
    color: #e91e63;
}

.card [data-header-animation="true"] {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
}

.card:hover [data-header-animation="true"] {
    -webkit-transform: translate3d(0, -50px, 0);
    -moz-transform: translate3d(0, -50px, 0);
    -o-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
}

.card [data-background-color] {
    color: #FFFFFF;
}

.card [data-background-color] a {
    color: #FFFFFF;
}

.card-chart .card-header {
    padding: 0;
    min-height: 160px;
}

.card-chart .card-header+.content h4 {
    margin-top: 0;
}

.card-calendar .card-content {
    padding: 0;
}

.card-stats .card-title {
    margin: 0;
}

.card-stats .card-header {
    float: left;
    text-align: center;
}

.card-stats .card-header i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}

.card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}

.card-plain {
    background: transparent;
    box-shadow: none;
}

.card-plain .card-header {
    margin-left: 0;
    margin-right: 0;
}

.card-plain .card-header-icon {
    margin-right: 15px;
}

.card-plain .content {
    padding-left: 5px;
    padding-right: 5px;
}

.card-plain .card-image {
    margin: 0;
    border-radius: 3px;
}

.card-plain .card-image img {
    border-radius: 3px;
}

.card-raised {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-profile,
.card-testimonial {
    margin-top: 30px;
    text-align: center;
}

.card-profile .btn-just-icon.btn-raised,
.card-testimonial .btn-just-icon.btn-raised {
    margin-left: 6px;
    margin-right: 6px;
}

.card-profile .card-avatar,
.card-testimonial .card-avatar {
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-profile .card-avatar+.card-content,
.card-testimonial .card-avatar+.card-content {
    margin-top: 15px;
}

.card-profile.card-plain .card-avatar,
.card-testimonial.card-plain .card-avatar {
    margin-top: 0;
}

.card-testimonial {
    margin-bottom: 65px;
}

.card-testimonial .card-avatar {
    max-width: 100px;
    max-height: 100px;
}

.card-testimonial .footer {
    margin-top: 0;
}

.card-testimonial .footer .card-avatar {
    margin-top: 10px;
    margin-bottom: -50px;
}

.card-testimonial .card-description {
    font-style: italic;
}

.card-testimonial .card-description+.card-title {
    margin-top: 30px;
}

.card-testimonial .icon {
    margin-top: 30px;
}

.card-testimonial .icon .material-icons {
    font-size: 40px;
}

.card-pricing {
    text-align: center;
}

.card-pricing .card-title {
    margin-top: 30px;
}

.card-pricing .content {
    padding: 15px !important;
}

.card-pricing .icon {
    padding: 10px 0 0px;
    color: #999999;
}

.card-pricing .icon i {
    font-size: 55px;
    border: 1px solid #E5E5E5;
    border-radius: 50%;
    width: 130px;
    line-height: 130px;
    height: 130px;
}

.card-pricing .icon.icon-primary {
    color: #9c27b0;
}

.card-pricing .icon.icon-info {
    color: #00bcd4;
}

.card-pricing .icon.icon-success {
    color: #4caf50;
}

.card-pricing .icon.icon-warning {
    color: #ff9800;
}

.card-pricing .icon.icon-danger {
    color: #f44336;
}

.card-pricing .icon.icon-rose {
    color: #e91e63;
}

.card-pricing h1 small {
    font-size: 18px;
}

.card-pricing h1 small:first-child {
    position: relative;
    top: -17px;
    font-size: 26px;
}

.card-pricing ul {
    list-style: none;
    padding: 0;
    max-width: 240px;
    margin: 10px auto;
}

.card-pricing ul li {
    color: #999999;
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

.card-pricing ul li:last-child {
    border: 0;
}

.card-pricing ul li b {
    color: #3C4858;
}

.card-pricing ul li i {
    top: 6px;
    position: relative;
}

.card-pricing.card-background ul li,
.card-pricing [class*="content-"] ul li {
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.3);
}

.card-pricing.card-background ul li b,
.card-pricing [class*="content-"] ul li b {
    color: #FFFFFF;
}

.card-pricing.card-background [class*="text-"],
.card-pricing [class*="content-"] [class*="text-"] {
    color: #FFFFFF;
}

.card-pricing.card-background:after {
    background-color: rgba(0, 0, 0, 0.7);
}

.card-background {
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.card-background .content {
    position: relative;
    z-index: 2;
    min-height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 440px;
    margin: 0 auto;
}

.card-background .category,
.card-background .card-description,
.card-background small {
    color: rgba(255, 255, 255, 0.7);
}

.card-background .card-title {
    color: #FFFFFF;
    margin-top: 10px;
}

.card-background:not(.card-pricing) .btn {
    margin-bottom: 0;
}

.card-background:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 6px;
}

.card-product {
    margin-top: 30px;
}

.card-product .btn-simple.btn-just-icon {
    padding: 0;
}

.card-product .footer {
    margin-top: 5px;
}

.card-product .footer .stats .material-icons {
    margin-top: 4px;
    top: 0;
}

.card-product .footer .price h4 {
    margin-bottom: 0;
}

.card-product .card-title,
.card-product .category,
.card-product .card-description {
    text-align: center;
}

.card-login .card-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}
.card-login,
.lock-page .card-profile {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.card-login i {
    max-width: 24px;
    overflow: hidden;
    display: block;
}

.card-login .text-divider {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}

.card-login .card-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}

.card-login i {
    max-width: 24px;
    overflow: hidden;
    display: block;
}

.card-login .text-divider {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}

.card-login .card-content {
    padding: 0px 30px 0px 10px;
}

.card-login .checkbox {
    margin-top: 20px;
}

.card-login .checkbox label {
    margin-left: 17px;
}

.card-login .checkbox .checkbox-material {
    padding-right: 12px;
}

.card-login .social-line {
    margin-top: 15px;
    text-align: center;
    padding: 0;
}

.card-login .social-line .btn {
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
}
.login-page .card-login {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    padding-bottom: 20px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.login-page .card-login.card-hidden {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
}

.login-page .card-login .btn-wd {
    min-width: 180px;
}

.login-page .card-login .card-header {
    margin-top: -40px;
    margin-bottom: 20px;
}

.login-page .card-login .card-header .title {
    margin-top: 10px;
}

.card-login .card-content {
    padding: 0px 30px 0px 10px;
}

.card-login .checkbox {
    margin-top: 20px;
}

.card-login .checkbox label {
    margin-left: 17px;
}

.card-login .checkbox .checkbox-material {
    padding-right: 12px;
}

.card-login .social-line {
    margin-top: 15px;
    text-align: center;
    padding: 0;
}

.card-login .social-line .btn {
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
}

    .card .form-horizontal .label-on-left,
    .card .form-horizontal .label-on-right {
        padding-left: 15px;
        padding-top: 8px;
    }
    .card .form-horizontal .form-group {
        margin-top: 0px;
    }
    .card .form-horizontal .checkbox-radios {
        padding-bottom: 15px;
    }
    .card .form-horizontal .checkbox-radios .checkbox:first-child,
    .card .form-horizontal .checkbox-radios .radio:first-child {
        margin-top: 0;
    }
    .card .form-horizontal .checkbox-inline {
        margin-top: 0;
    }

    body {
        position: relative;
    }
.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none;
}

.bootstrap-select.form-control:not([class*="col-"]) {
    width: 100%;
}

.bootstrap-select.form-control.input-group-btn {
    z-index: auto;
}

.bootstrap-select.form-control.input-group-btn:not(:first-child):not(:last-child)>.btn {
    border-radius: 0;
}

.form-inline .bootstrap-select.btn-group .form-control {
    width: 100%;
}
.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
    padding: 0;
}
.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%;
    float: none;
}
.form-control {
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.428571429;
}
.fileinput .form-control {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text;
}
   .form-group.form-search .form-control {
        font-size: 1.7em;
        height: 37px;
        width: 78%;
    }
  .subscribe-line .form-control {
        margin: 0 0 10px 0;
    }