/*<<<<<<< Updated upstream*/
body{
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

img {
  margin-left: auto;
  margin-right: auto;
}
.alert-fix
{
    margin-right: 7px;
    margin-left: 7px;
	margin-bottom:auto;
}
.img-responsive{
    height:139px;
}
/*=======>>>>>>> Stashed changes*/



.col-centered{
    float: none;
    margin: 0 auto;
}
.word-break{
	word-break: break-all;
}

.margin-file{
	margin-left:30px;
	margin-right:30px;
}

.center-h{
   padding-top: 7%;
   padding-bottom: 5%;
}
.restore-btn{
  margin-bottom: 10px;
}
.table-fix{
  padding-top: 2%;
}
.table-content{
  padding-top: 2%;
  padding-bottom: 2%;
}
.whitebg {
    background-color: #fff;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-right: 4%;
    padding-left: 4%;
    border-radius: 1.1rem;
}

.whitetable {
    background-color: #fff;
    border-bottom-right-radius: 1.1rem;
    border-bottom-left-radius: 1.1rem;
}

.whitediv {
    background-color: #fff;
    border-radius: 1.1rem;
}

.buttondiv{
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  padding-right: 3%;
  padding-left: 3%;
  margin-bottom: 10px;
}
img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
}

.m-top{
  margin-top: 6.5%;
}
.reset-button{
    cursor:pointer;
}

.myform{
		position: relative;
		display: -ms-flexbox;
		display: flex;
		padding: 1rem;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.2);
		border-radius: 1.1rem;
		outline: 0;
		max-width: 500px;
		margin-top:13%;
}

.myform form{
	margin-top: 25px;
}

.bg-files{
		padding: 1rem;
		background-color: #fff;
		border: 1px solid rgba(0,0,0,.2);
		border-radius: 1.1rem;
}
.head-form{
    color:white;
    background-color: #007bff;
    padding:5px 25px;
    margin-top:-12.5%;
    border-radius: 11px;
}

@media (max-height:270px){
  .head-form{
      color:white;
      background-color: #007bff;
      padding:5px 25px;
      margin-top:-19%;
      border-radius: 11px;
  }
  .head-form h1{
    font-size:18px;
  }

}
 @media (min-height: 700px){
    .background {min-height: 1024px;}
 }
 @media only screen and (max-width: 950px) {
	 
    .formerfix{
		margin-top: 10%;
    }
	.whitebg a {
		font-weight:350;
		padding:.175rem .55rem;
		width:175px;
		margin-top:1%;
	}
	.lg-bg{
		font-size:20px;
		padding-top:1.175%;
		
	}

}
.color-white{
    color: white;
}
.lg-bg{
	color:white;
    background-color: #007bff;
    border-radius:11px;
    padding-top: 0.5%;
    padding-bottom: 0.9%;
    padding-right: 4%;
    padding-left: 4%;
}

.background {
	background-image: url("../img/login.jpeg");
    min-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.center {
    text-align: center;
}
.formerfix{
    margin-top: 10%;
	margin-bottom:1%;
}



.top{
	margin-top:7%;
}

.tx-tfm{
    text-transform:uppercase;
}
.mybtn{
    border-radius:50px;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.google {
    color:#666;
    width:100%;
    height:40px;
    text-align:center;
    outline:none;
    border: 1px solid lightgrey;
}
form .error {
    color: #ff0000;
}
#second{display:none;}

.round {
  position: relative;
    z-index: 1000;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.top-left {
  position: absolute;
  margin-left: 20px;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

.card {
        margin-left: 1.5%;
}

.card {
        margin-right: 1.5%;
}

.isa_error_class
{
  padding-right: 25px;
}

.a { color: white; }

.register-fix{
  padding-bottom: 250px;
}
