/*
For split page
*/
html{
  height:100%;
}

body{
  height:100%;
}

img{
    cursor:pointer;
}

.intro{
  height:100%;
}

.left{
    display : flex;
    justify-content : center;
    align-items : center;
    height : 100%;
    border-right:0.1px solid #aaa;
}
.right{
  display : flex;
  justify-content : center;
  align-items : center;
  height : 100%;

}
@media (max-width: 1200px) { 
  .left{
    height:50%
  }
  .right{
    height:50%
  }
}

/*
 Border between 50% page img and 50% page form
*/
.border-between > [class*='col-']:before {
   background: #e3e3e3;
   bottom: 0;
   content: " ";
   left: 0;
   position: absolute;
   width: 1px;
    height:100%;
   top: 0;
}

.border-between > [class*='col-']:first-child:before {
   display: none;
}

/*

############ DON'T DETELE ############

Styles for upload through img upl
*/

.file-upload {
	position: relative;
	display: inline-block;
    padding-top:150px;
    
}

.file-upload__label {
  display: block;
    
  &:hover {
     cursor: pointer;
  }
}
    
.file-upload__input {
    position: absolute;
    font-size: 1;
    height: 100%;
    
    opacity: 0;
}

/*
Styles create form design
*/

input::placeholder{
  color: #000;
}

input[type='text']{
    
    color:#000;
    width:100%;
    padding-left:15px;
    height:35px;
    font-size:16.5px;
}

.insert-area{
    
    margin-top:15%;
    
} 

/*

THE REST OF CSS FOR FORM UPLOAD ARE IN custom.css

*/

/*
.form{
    display:inline-block;
    padding:25px;
    min-width:350px;
    background-color:#002d4e;
    color:#fff;
    min-height:350px;
    border-radius:10px;
    
}

.submit-form {
    cursor:pointer;
    
    width:auto;
    height:auto;
    padding:15px 70px;
    border-radius:15px;
    
    background-color:#dbb1b7;
    color:#1c094a;
    
    margin-top:60%;
    
    margin-left:40%;

    display : flex;
    justify-content : center;
    align-items : center;

}

.submit-form:hover{
    
    border:1px solid aqua;
    background-color:transparent;
    color:aqua;
}

.text-form{
    font-size:22px;
    font-family: "Times New Roman", Times, serif;
}
*/