/*

Dropdown - filters

*/

/*############# SEARCH BAR - DROP RIGHT #############*/ /*
.angle-drop {
  border:1px solid transparent;
  border-right:1px solid #aaa;
  color: black;
  padding: 11.1px;
  font-size: 16px;
  cursor: pointer;
}

.active-drop {
  background-color: #212121;
  color:#fff;
}

.dropdown {
    float:left;
    margin-top:-10%;
    position: relative;
    display: inline-block;
}

.filtr-search {
    padding: 0.5rem 1rem 0.5rem 40px;
    text-transform: uppercase;
    height: 4rem; 
    width:25em; 
    border-radius: 16px; 
    margin-right: 5rem;
}
*/


/*############# SEARCH BAR - DROP RIGHT #############*/

/*  */
.angle-drop {
  border:1px solid transparent;
  border-left:1px solid #aaa;
  color: black;
  padding: 11px;
  font-size: 16px;
  cursor: pointer;
}


.dropdown {
    float:right;
    margin-top:-11.5%;
    margin-right:0%;
    position: relative;
    display: inline-block;
}

.filtr-search {
    padding: 0.5rem 40px 0.5rem 1rem;
    text-transform: uppercase;
    height: 4rem; 
    width:25em; 
    border-radius: 16px; 
   
}

/*############# SEARCH BAR - DROP RIGHT #############*/


/* End Search */

.dropdown-content {
    display: none;
    margin-left: -400%;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 164px; /*200px*/
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.dropdown-content ul{
    
    /*margin-top: 20px;*/
    margin-bottom:0px;
    
    
}
.dropdown-content li{
    color: black;
    padding: 16px;
    width:100%;
    text-decoration: none;
    display: block;
    cursor:pointer;
}

.dropdown ul li:hover {background-color: #ddd;  width:100%;}

.show {display: block;}


/*

Default

*/

body {
    margin-top: 1rem;
}
img {
  max-width: 100%;
}
.filtr-item {
    padding: 1rem;
}
.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

/* Filter controls */
.simplefilter, .multifilter, .sortandshuffle, .search-row {
  padding-left: 0;
    float:left;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    color: black; /*white*/
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 2rem;
}

.simplefilter li.active {
    background-color: #212121;
    width:100%;
    color:white;
}
/* Shuffle and sort controls */
select {
    padding: 1rem 1rem;
    text-transform: uppercase;
}
.sortandshuffle .shuffle-btn {
    background-color: #dec800;
}
.sortandshuffle .sort-btn {
    background-color: #de0000;
}
.sortandshuffle .sort-btn.active {
    background-color: #9d0000;
}



/* Colored divs */
.block {
  box-shadow: 0 1px 4px rgba(0,0,0,.75) inset;
  color: white;
  text-align: center;
  height: 80px;
  position: relative;
}
.block > .text {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.block.xs {
  height: 40px;
}
.block.md {
  height: 120px;
}
.block.lg {
  height: 160px;
}
.block.purple {
  background-color: purple;
}
.block.yellow {
  background-color: #dec800;
}
.block.red {
  background-color: crimson;
}
.block.green {
  background-color: lightgreen;
}
.block.blue {
  background-color: #4b9eff;
}

/* Helpers */
.push-down {
  margin-bottom: 50px;
}

.filtr-container,
.color-container-1,
.color-container-2,
.color-container-3,
.color-container-4 {
  transition: height 500ms ease-out;
}
